<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>RMS Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/mystyle.css'>
</head>
<body>
<div class="loading-overlay" ng-show="isLoading">
    <div class="loader"></div>
</div>
<nav class="navbar navbar-default navbar-fixed-top navbar-rms" ng-controller="MenuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="toggle_menu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed toggle-chat" ng-click="toggle_chat()">
                <i class="glyphicon glyphicon-envelope"></i>
            </button>
            <a class="navbar-brand navbar-logo" href="#"><img src="/images/logo-small.png"></a>
        </div>
        <div class="collapse navbar-collapse side-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/product">PRODUCT</a></li>
                <li><a href="#/note">NOTE</a></li>
                <li><a href ng-click="toggle_chat()">CHAT ROOM</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/user">USER</a></li>
                <li><a href="#/logout">LOGOUT</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
<div class="nav-side-bar navbar-default" ng-class="{'in':isToggleMenu}">
    <nav role="navigation" class="navbar-collapse">
        <ul class="nav navbar-nav side-menu">
            <li><a href="#/product">PRODUCT</a></li>
            <li><a href="#/note">NOTE</a></li>
        </ul>
        <hr/>
        <ul class="nav navbar-nav side-menu">
            <li><a href="#/user">USER</a></li>
            <li><a href="#/logout">LOGOUT</a></li>
        </ul>
    </nav>
</div>
<div ng-view></div>
<div class="chatbox-container" ng-class="{'in':isChat}">
    <div class="chatbox-header">
        <button class="btn btn-sm rms-round-btn rms-btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
    <div class="chatbox-form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn rms-btn-primary" type="button">SEND</button>
            </span>
        </div>
    </div>
</div>
<script src='/bower_components/angular/angular.js'></script>
<script src='/bower_components/angular-route/angular-route.js'></script>
<script src='/bower_components/angular-cookies/angular-cookies.js'></script>
<script src='/bower_components/angular-animate/angular-animate.js'></script>
<script src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
<script src='/bower_components/socket.io-client/socket.io.js'></script>

<script src='/javascripts/myapp/myapp.js'></script>
<script src='/javascripts/myapp/login/myapp-login.js'></script>
<script src='/javascripts/myapp/user/myapp-user.js'></script>
<script src='/javascripts/myapp/note/myapp-note.js'></script>
<script src='/javascripts/myapp/product/myapp-product.js'></script>
<script src='/javascripts/myapp/chat/myapp-chat.js'></script>
</body>
</html>
